*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.build-center{
    background-image: url("images/our_centers_fon1.png");
    background-size: cover;
    flex-shrink: 0;
}

.build-center-offer{
    width: 25rem;
    padding-top: 4rem;
    padding-left: 4rem;
    color: #214E41;
    font-size: 2rem;
    font-weight: 700;
}

.first-room-title{
    color: #214E41;
    font-size: 2rem;
    padding-top: 3.5rem;
    text-align: center;
}

.first-room-line1{
    margin: 2rem;
}

.first-room-description{
    color: #214E41;
    font-size: 1.5rem;
    padding: 0;
}

.second-room-title{
    color: #214E41;
    font-size: 2rem;
    text-align: center;
}

.second-room-description{
    color: #214E41;
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
}

.row2{
    margin-bottom: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.first-room-line2{
    margin: 2rem;
}
